@import "tailwindcss";


@font-face {
    font-family: "Shabnam";
    src: url("/fonts/Shabnam.woff2") format("woff2"),
        url("/fonts/Shabnam.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


img {
    max-width: 100%;
}

body {
    font-family: "Shabnam";
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #e0e0e0;
}

.badge {
    font-family: monospace;
}
.rank-number {font-family: "Arial, Helvetica, sans-serif"}
